* {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
      /* outline: 2px solid red;   */
}


body {
    background: #191E2E;
    font-family: 'Qanelas', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 243px 0px 245px;
}

   .mobile-header {
    display: none;
   }

.header-logo {
   width: calc(2.18vw + 87px);
   height: calc(0.43vw + 48.6px);

}


header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

 li {
    list-style: none;
   
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  color: #97989ab8;
  transition: color 1s;

}

a:hover {
  color: #FFFFFF;
}



.auth-register-btn {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.auth-register-btn .search {
    width: 55px;
    height: 50px;
}

.auth-register-btn button {
    width: calc(4.45vw + 51.6px);
    height: calc(1.79vw + 21.8px);
    color: #FFFFFF;
    background: #3657CB;
    box-shadow: 0px 0px 15px 0px #4871FFCC;
    border: none;
    border-radius: calc(0.31vw + 4px);
}


@media (max-width:420px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: none;
    }
    .search {
        display: none;
    }

    .mobile-header {
       display: flex;
       width: 28px;
       height: 27px;
       gap: 4px;
    }

    .search_2 {
        display: block;
    }

    section {
        margin-left: 223px !important;
        margin-right: 220px !important;
 }
    
}


 section {
     margin-left: calc(34.68vw - 423px);
     margin-right:calc(42.18vw - 565px);
 }


.cinema-now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(1.56vw + 21px);
}

  .now-at-the-cinema {
  font-weight: 900;
  font-size: 65px;
  color: #FFFFFF;
  white-space: nowrap; 
}

.line {
    width: 51px;
    border-width: 2px;
    display: block;
}

.genres ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
}


.genres a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #97989ab8;
  transition: color 1s;
}

.genres a:hover {
  color: #FFFFFF;
}

 @media (max-width:1600px) {
    
    header {
        margin-left:calc(-4.68vw  + 175px);
        margin-right: calc(3.12vw + 20px);  
        gap: calc(5.23vw + 63.25px);
    }

    header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
    .new-trailer {
        width: 1362px !important;
    }
    .all-trailers {
        margin-right: 29px;
} 

.video {
     margin-right: 29px;
     width: 1334px !important;
}

.description h3 {
    font-size: calc(1.69vw + 19.57px) !important;
}

.assessments {
    margin-top: calc(1.64vw  - 0.25px) !important;
}

.description {
    gap: calc(1.56vw - 1px) !important;
}

.description h3 {
    font-size: calc(1.56vw + 20px) !important;
}

.description img {
    width: calc(3.43vw + 124px) !important;
    height: calc(0.39vw + 10.75px) !important;
}

.assessment {
    gap: calc(0.31vw + 3px) !important;
    margin-right: 100px !important;
}

.like img {
    width: calc(2.18vw + 23px) !important;
    height: calc(2.18vw + 23px) !important;
}

.dont_like img {
    width: calc(2.18vw + 23px) !important;
    height: calc(2.18vw + 23px) !important;
}

.like span {
    font-size: calc(0.46vw + 7.5px) !important;
}

.dont_like span {
    font-size: calc(0.46vw + 7.5px) !important;
}

.splide {
    margin-top: calc(1.95vw + 11.75px);
}


 }




.now_cinema {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(10.31vw - 123px);
    padding-top: calc(1.61vw + 19.93px);
    
}



.burger_nemu_2 {
    display: none;
    
}

@media (max-width:420px) {
    .line {
        display: none;
    }
    .burger_nemu_2 {
        display: block;
        width: 14px;
        height: 11px;

    }

    .now-at-the-cinema {
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    white-space: nowrap;
}

    .now_cinema {
        gap: 20px;
    padding-right: 10px;
    padding-left: 0px;
}

}


.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin-bottom: 40px;
  padding-top: calc(4.64vw + 3.59px);
}

.movie-card {
  position: relative;
}


.movie-card img {
        width: calc(6.87vw + 210px);
        height: calc(14.25vw + 206.4px);
        border-radius: 12px 12px;
    
}

.movie-rating {
  position: absolute;
  top: 10px;
  right: calc(0.62vw + 8px);
  background-color: #4BCB36;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: calc(0.37vw + 10.8px);
  width: calc(1.5vw + 33.2px);
  height: calc(0.75vw + 18.6px);
  padding-left: calc(0.31vw + 7px);
  padding-right: 7px;
  padding-top: calc(0.18vw + 3.4px);
  padding-bottom: calc(0.18vw + 3.4px);
}

.movie-rating.yellow {
  background-color: #89CB36;
}


.movie-rating.red {
  background-color: #CB3F36;

}


@media (max-width: 420px) {
  .movie-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
}

.movie-list h3 {
    display: flex;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: calc(0.19vw + 14.27px);
}


.movie-list p {
    color: #F2F60F;
    font-weight: 400;
    font-size: calc(0.19vw + 11.27px);
}



@media (max-width:420px) {
     .movie-card img{
        width: 178px;
        height: 273px;
        border-radius: 12px 12px;
}
     .movie-info{
    padding: 0;
    margin-left: 0px;
     }

}


.all-new {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(2.58vw + 150.29px);
    height: calc(1.16vw + 48.63px);
    border-radius: 10px;
    border-width: 2px;
    font-weight: 700;
    font-size: 18px;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}


.new-trailer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1430px;
    margin-top: 54px;
    margin-bottom: 79px
}

.all-trailers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.trailer {
    font-weight: 900;
    font-size: calc(2.06vw + 25.4px);
    color: #FFFFFF;
}

.all-trailer {
    font-weight: 700;
    font-size: calc(0.25vw + 17.2px);
    color: #FFFFFF;
}

.arrow {
    width: 26px;
    height: 26px;
}

@media (max-width:420px) {
    .new-trailer {
        flex-wrap: wrap;
        width: 375px !important;
        padding-left: 35px;
    }

     .all-trailers {
        margin-left: 85px
     }
     
     .video {
      width: 100% !important;
}

.assessment {
    margin-right: 0px !important;
}

    .description {
    padding-right: 170px;
}

}

.video {
    width: 100%;
    border-radius: 12px;
}

.assessments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.description h3 {
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
}

.description img {
    width: 179px;
    height: 17px;
}

.assessment {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.like img {
    width: 58px;
    height: 58px;
}

.like span {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}

.dont_like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.dont_like img {
    width: 58px;
    height: 58px;
}

.dont_like span {
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
}


.splide__track {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

